.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
    padding: 24px 156px;
}

.gallery-item {
    list-style-type: none;
    width: calc((100% - 48px) / 3);
}

.gallery-item:hover {
    transform: scale(1.04);
}

img {
    display: block;
    width: 100%;
}

body {
    font-size: 24px;
}

a {
    text-decoration: none;
}

.feedback-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #2E2F42;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

input {
    width: 360px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #808080;
    color: #2E2F42;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 8px 16px;
}

label textarea {
    width: 360px;
    resize: none;
    border: 1px solid #808080;
    border-radius: 4px;
    color: #2E2F42;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 8px 16px;
}

input:hover,
textarea:hover {
    border-radius: 4px;
    border: 1px solid #000;
}

button {
    width: 95px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 8px;
    background-color: #4E75FF;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #6C8CFF;
}